<div class="container-paginator">
  <div class="label-paginator copec-lg-14">
    <span *ngIf="isSizeMobile">
      {{ currentPage }} de {{ totalPages }}</span
    >
    <span *ngIf="!isSizeMobile"
      >Mostrando {{ currentPage }} de {{ totalPages }}</span
    >
  </div>
  <div
    class="d-flex align-items-center justify-content-end container-button-paginator copec-rg-16"
  >
    <button *ngIf="!isSizeMobile" (click)="firstPage()">
      <i class="fa-solid fa-angles-left"></i>
    </button>
    <button (click)="prevPage()"><i class="fa-solid fa-angle-left"></i></button>
    <button
      *ngFor="let page of buttonPages"
      (click)="onPageChange(page)"
      [ngClass]="{ selected: currentPage === page }"
    >
      {{ page }}
    </button>
    <button (click)="nextPage()">
      <i class="fa-solid fa-angle-right"></i>
    </button>
    <button *ngIf="!isSizeMobile" (click)="lastPage()">
      <i class="fa-solid fa-angles-right"></i>
    </button>
  </div>
</div>
