<div>
  <div>
    <div>
      <div class="container text-container" [innerHTML]="this.detail">
      </div>

      <div class="evaluate-container">
        <div class="subtitle">
          <span class="copec-rg-20">Valoraciones</span>
        </div>

        <div>
          <div class="row container-footer">
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">¿Qué nota le pondrías a este beneficio?</div>
                <div class="starts">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">Promedio</div>
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <span><b>4</b>/5</span>
                </div>
                <span class="icon">200 valoraciones</span>
              </div>
            </div>
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">Detalle</div>
                <div>
                  <img
                    src="/assets/img/ranking-view.svg"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
