<div>
  <div>
    <div>
      <div class="container text-container">
        <span class="copec-lg-16 first-text"
          >El Trabajador que por petición previa del Jefe respectivo, no pueda
          celebrar con su familia las festividades que más adelante se indican,
          por tener que prestar sus servicios a la Compañía, además de los otros
          beneficios estipulados, tendrá derecho a un bono ascendente a:</span
        ><br /><br />
        <div class="img-res">
          <img class="img-responsive" src="/assets/img/Table.svg" />
        </div>
        <span class="copec-lg-16 second-text"
          ><br />Para el caso de Navidad y Año Nuevo, el Trabajador se hace
          acreedor al mencionado bono si labora un mínimo de 2 horas entre las
          21:00 horas del día 24 de Diciembre y las 21:00 horas del día 25 de
          Diciembre siguiente; o dicho mínimo de horas lo hace entre las 21:00
          horas del día 31 de Diciembre y las 21:00 del día siguiente 1° de
          Enero. Por su parte, el bono por trabajo en día 1° de Mayo, 18 y/o 19
          de Septiembre, se devenga por el hecho de trabajar un mínimo de 4
          horas en cada uno de dichos días. El Jefe respectivo tendrá la
          obligación de informar cada vez a Gerencia de Gestión Humana quienes
          son los Trabajadores que se encuentran en la situación anteriormente
          mencionada.</span
        >
      </div>

      <div class="evaluate-container">
        <div class="subtitle">
          <span class="copec-rg-20">Valoraciones</span>
        </div>

        <div>
          <div class="row container-footer">
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">¿Qué nota le pondrías a este beneficio?</div>
                <div class="starts">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">Promedio</div>
                <div class="icon">
                  <i class="fa-solid fa-star"></i>
                  <span><b>4</b>/5</span>
                </div>
                <span class="icon">200 valoraciones</span>
              </div>
            </div>
            <div class="col-sm-12 col-md container-box">
              <div>
                <div class="box">Detalle</div>
                <div>
                  <img
                    src="/assets/img/ranking-view.svg"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
