<header>
  <nav class="d-flex justify-content-between">
    <img
      class="button-navBar"
      (click)="goToHome()"
      src="/assets/img/navBar_logo.svg"
    />
    <div class="nav-menu-mobile">
      <button><i class="fa-solid fa-magnifying-glass"></i></button>
      <button><i class="fa-regular fa-bell"></i></button>
      <button><i class="fa-solid fa-bars"></i></button>
    </div>
    <ul class="nav-menu d-flex">
      <li class="nav-menu-item">
        <a class="copec-rg-16">Beneficios</a>
      </li>
      <li class="nav-menu-item">
        <a class="copec-rg-16">Planes</a>
      </li>
      <li class="nav-menu-item">
        <a class="copec-rg-16">Mis solicitudes</a>
      </li>
      <li class="nav-menu-item m-0">
        <button class="icon-user" [matMenuTriggerFor]="menu" aria-label="menu">
          <mat-icon fontIcon="account_circle"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="goToAdmin()" mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Administrador</span>
          </button>
          <button (click)="cerrarSesion()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
          <button mat-menu-item>
            <mat-icon>key</mat-icon>
            <span>Cambiar contraseña</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</header>
