<div class="benefit-container">
  <div class="left" [ngClass]="mira ? '' : 'display-none'">
    <div class="text-box">
      <h2 class="copec-bold-30">{{this.title}}</h2>
      <p class="copec-rg-16-p">
        {{this.longDescription}}
      </p>
      <div class="button-benefit" *ngIf="showHyperLink">
        <a href="{{this.link}}" style="color: white;">Obtener Beneficio<img
          class="arrow"
          src="/assets/icono/icon-arrow.svg"></a>
      </div>
    </div>
  </div>
  <div class="rigth" [ngClass]="mira ? '' : 'display-none'">
    <div class="">
      <img class="second-image" src="{{this.image}}" />
    </div>
  </div>
</div>

<div
  class="benefit-container-fixed fixed"
  [ngClass]="!mira ? '' : 'display-none'"
>
  <img class="third-image" src="{{this.image}}" />
  <div class="text-box-fixed">
    <h2 class="copec-bold-30">{{this.title}}</h2>
    <p class="copec-rg-16 text">
      {{this.description}}
    </p>
  </div>
  <div class="button-benefit" *ngIf="showHyperLink">
    <a href="{{this.link}}" style="color: white;">Obtener Beneficio<img
      class="arrow"
      src="/assets/icono/icon-arrow.svg"></a>
  </div>
</div>

<div class="evaluate-container">
  <div class="row">
    <div class="col-sm-6 col-lg container-box">
      <div class="box">Categoria</div>
      <div class="icon">
        <img src="/assets/icono/icon-smile.svg" />
      </div>
      <span class="icon">{{this.category}}</span>
    </div>
    <div class="col-sm-6 col-lg container-box card-white">
      <div class="box">Disponible desde</div>
      <div class="icon">
        <img src="/assets/icono/icon-planes.svg" />
      </div>
      <span class="icon">{{this.plan}}</span>
    </div>
    <div class="col-sm-6 col-lg container-box">
      <div class="box">Antigüedad</div>
      <span class="icon copec-bold-20">3</span>
      <span class="icon">Meses mínimo</span>
    </div>
    <div class="col-sm-6 col-lg container-box card-white">
      <div class="box">Dirigido a</div>
      <span class="icon copec-bold-16">{{this.beneficiaryType}}</span>
      <span class="icon">Multiuso</span>
    </div>
    <div class="col-6 col-lg container-box last-card">
      <div class="box">Valoración</div>
      <div class="icon">
        <i class="fa-solid fa-star"></i>
        <span><b>4</b>/5</span>
      </div>
      <span class="icon">200 valoraciones</span>
    </div>
  </div>
</div>
