<header>
  <img class="dekstop-background" src="/assets/img/benefit-background.svg" />
  <img
    class="mobile-background"
    src="/assets/img/benefit-mobile-background.svg"
  />

  <div class="benefit-container">
    <h2 class="copec-bold-40">Beneficios</h2>
    <div class="d-flex">
      <button class="copec-lg-14 d-flex justify-content-center">
        <i class="fa-regular fa-gem color-dark-blue"></i> Beneficios Base
      </button>
      <button class="copec-rg-14 color-second-dark-blue">Ver planes</button>
    </div>
  </div>
</header>
