$copec-white: #fff;
$copec-lightgray: #e7eaf0;
$copec-light-gray: #757575ab;
$copec-black: #2c3447;
$copec-dark-blue: #588dee;
$copec-light-blue: #88a8e3;
$copec-second-dark-blue: #2066e9;
$copec-lightgray-2: #f5f6fa;
$copec-lightgray-3: #d8dce5;
$copec-dark-gray: #6f798f;
$copec-yellow: #e5a500;
$copec-dark-blue-3: #2e54ff;
$copec-navy-blue: #2066e91f;

//Generic classes for text colors
.color-dark-blue {
  color: $copec-dark-blue;
}

.color-second-dark-blue {
  color: $copec-second-dark-blue;
}

.color-black {
  color: $copec-black;
}

.color-white {
  color: $copec-white;
}

.color-lightgray-2 {
  color: copec-lightgray-2;
}
